<div class="page-container">
  <div class="page-content">
    <h1 class="page-title">Cadastrar novo Livro</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
      <div class="form-content-container">
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input
            matInput
            type="text"
            formControlName="name"
            placeholder="Nome"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Autor</mat-label>
          <input
            matInput
            type="text"
            formControlName="author"
            placeholder="Autor"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Data de Lançamento</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="launch_date"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Descrição</mat-label>
          <textarea
            matInput
            formControlName="description"
            placeholder="Descrição"
          ></textarea>
        </mat-form-field>
        <mat-form-field floatLabel="always">
          <mat-label>Preço</mat-label>
          <input
            matInput
            type="number"
            formControlName="price"
            placeholder="0"
            class="example-right-align"
          />
          <span matTextPrefix>$&nbsp;</span>
          <span matTextSuffix>.00</span>
        </mat-form-field>
        <div class="btns">
          <button type="button" mat-raised-button color="accent" (click)="onBack()">Voltar</button>
          <button type="submit" mat-raised-button color="accent">Salvar</button>
        </div>
      </div>
    </form>
  </div>
</div>
