<div class="container">
    <div class="text">
        <div class="div-title">
            <h2>BABILÔNIA</h2>
            <h1>Explore o tesouro do conhecimento na Biblioteca Babilônia</h1>
            <p>Descubra a Biblioteca Babilônia, onde a sabedoria não tem preço - é de graça para todos!</p>
        </div>
        <div class="buttonContainer">
            <button class="button lista-de-livros" (click)="navigateToListaDeLivros()">LISTA DE LIVROS</button>
            <button class="button criar-um-livro" (click)="navigateToCriarUmLivro()">CRIAR UM LIVRO</button>
        </div>
</div>
</div>